{{ form_start(form) }}

    {# {% for text in form.texts %}
        <li>{{ form_row(text) }}</li>
    {% endfor %} #}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}


