{% extends 'base.html.twig' %}

{% block title %}Edit SymfonyNodes{% endblock %}

{% block body %}
    <h1>Edit SymfonyNodes</h1>

    {{ include('symfony_nodes/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('symfony_nodes_index') }}">back to list</a>

    {{ include('symfony_nodes/_delete_form.html.twig') }}
{% endblock %}
