{% extends 'base.html.twig' %}

{% block title %}New SymfonyNodes
{% endblock %}

{% block body %}
	<h1>Create new SymfonyNodes</h1>

	<form id="option" action="#" method="POST">
		{% if values is defined %}
			{% for value in values %}
				{% if value.type == 'content' %}
					<label for="{{value.method}}">{{value.name}}</label>
					<input type="number" name="{{value.method}}">
				{% endif %}
			{% endfor %}
		{% endif %}
		<input type="hidden" name="hiddeninput" value="100">
		<input type="submit" form="option" name="submit" value="submit">
	</form>

	<a href="{{ path('symfony_nodes_index') }}">back to list</a>




{% endblock %}
